/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

/* font-stretch: [минимальное значение]% [максимальное значение]%; */
/* font have "slnt" slant -10 0 */
/*
Thin <span class="inter-regular-thin"> Thin </span>
Thin Italic <span class="inter-regular-thin-italic"> Thin Italic </span>
ExtraLight <span class="inter-regular-extralight"> ExtraLight </span>
ExtraLight Italic <span class="inter-regular-extralight-italic"> ExtraLight Italic </span>
Light <span class="inter-regular-light"> Light </span>
Light Italic <span class="inter-regular-light-italic"> Light Italic </span>
Regular <span class="inter-regular-regular"> Regular </span>
Italic <span class="inter-regular-italic"> Italic </span>
Medium <span class="inter-regular-medium"> Medium </span>
Medium Italic <span class="inter-regular-medium-italic"> Medium Italic </span>
SemiBold <span class="inter-regular-semibold"> SemiBold </span>
SemiBold Italic <span class="inter-regular-semibold-italic"> SemiBold Italic </span>
Bold <span class="inter-regular-bold"> Bold </span>
Bold Italic <span class="inter-regular-bold-italic"> Bold Italic </span>
ExtraBold <span class="inter-regular-extrabold"> ExtraBold </span>
ExtraBold Italic <span class="inter-regular-extrabold-italic"> ExtraBold Italic </span>
Black <span class="inter-regular-black"> Black </span>
Black Italic <span class="inter-regular-black-italic"> Black Italic </span> */

@font-face {
  font-display: swap;
  font-family: 'Inter-Variable';
  src:
    local('Inter-Variable'),
    url('./Inter-Variable.woff2') format('woff2 supports variations'),
    url('./Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 785; /* 100 900 */
}

@font-face {
  font-display: swap;
  font-family: 'Press Start 2P';
  src:
    local('Press Start 2P'),
    url('./PressStart2P-Regular.woff') format('woff2-variations');
    font-weight: 400;
}
