/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  color: var(--color-main);
  font-variation-settings:
    'wght' 410,
    'slnt' 0;
  background-image: var(--background-main);
  background-attachment: fixed;
}

.header,
.article,
.button,
.card__icon-button {
  background-color: var(--color-background);
}

.header {
  max-inline-size: var(--header-inline-size);
  padding-block: var(--header-padding);
  margin: var(--header-top) auto var(--header-bottom);
  outline: 2px solid currentColor;
}

.logo-group {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title);
  text-transform: uppercase;
}

.logo {
  font-size: var(--font-size-logo);
  line-height: 100%;
  font-weight: 400;
}

.sublogo {
  font-size: var(--font-size-sublogo);
  line-height: 100%;
}

.stages {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.article {
  display: flex;
  flex-direction: column;
  border: 2px solid currentColor;
}

.article-title {
  font-family: var(--font-main);
  font-size: 18px;
  font-variation-settings: 'wght' 715;
  line-height: 1.375rem;
  padding: 4px 10px;
  border-block-end: 2px solid currentColor;
}

.illustration {
  display: flex;
  position: relative;
}

.illustration img {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font: 400 14px / 100% var(--font-title);
  background-color: transparent;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--color-shadow),
    0 1px var(--color-shadow),
    1px 0 var(--color-shadow),
    0 -1px var(--color-shadow);
}

@supports (
  (text-stroke: 1px var(--color-shadow)) or
    (-webkit-text-stroke: 1px var(--color-shadow))
) {
  .label {
    -webkit-text-stroke: 1px var(--color-shadow);
    text-stroke: 1px var(--color-shadow);
    text-shadow: none;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  font-size: 18px;
  /* font-variation-settings: 'wght' 410; removed in .page */
  padding: var(--article-gap);
  gap: var(--article-gap);
  border-block-start: 2px solid currentColor;
}

.button {
  position: relative;
  font: 400 14px / 100% var(--font-title);
}

.button-text {
  font: 400 14px / 100% var(--font-title);
}

.floppy,
.button > span {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  fill: var(--color-background);
  color: var(--color-background);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  inline-size: 100%;
  background: var(--color-accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  pointer-events: none;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
  transition: box-shadow 0.3s ease;
}

.button-like {
  align-self: flex-end;
  display: flex;
  max-block-size: 38px;
}

.card__like-button {
  min-inline-size: 130px;
}

.card__icon-button {
  padding: 0 4px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
}

.button__text {
  line-height: 2.286;
}

.button-save {
  align-self: center;
  inline-size: var(--footer-button-size);
  margin-block-end: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 15px 18px;
}

.floppy {
  inline-size: var(--disk-size);
  block-size: var(--disk-size);
}

.button-save span {
  align-self: center;
}

.dialog-disk[open] {
  position: fixed;
  inset: 0;
  inline-size: var(--dialog-size);
  border: 2px solid currentColor;
  padding: 30px var(--dialog-inline-padding);

  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 30px 20px;
}

.dialog-disk[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-disk .floppy {
  --disk-size: 39px;
  grid-column: 1 / 2;
  align-self: center;
}

.dialog-disk span {
  text-transform: uppercase;
  grid-column: 2 / 3;
  line-height: 150%;
}

.dialog-disk form {
  grid-column: 1 / 3;
}

.dialog-disk button {
  font-family: var(--font-title);
  inline-size: 100%;
  text-transform: uppercase;
  line-height: 32px;
}

/* image stylization */

.red-blur {
  filter: blur(3px);
}

.red-brightness {
  filter: brightness(70%);
}

.white-contrast {
  filter: contrast(250%);
}

.red_white-grayscale {
  filter: grayscale(80%);
}

.red-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.red-opacity {
  filter: opacity(40%);
}

.white-contrast-invert {
  filter: contrast(250%) invert(100%);
}

.red_white-sepia {
  filter: sepia(100%);
}

/* animation oh heart */

.like-icon {
  transform-origin: center;
}

.contour {
  fill: var(--color-contour);
  transition: fill linear 0.1s;
}

.main-body {
  fill: transparent;
  transition: fill linear 0.3s;
}

.core {
  fill: transparent;
  transition: fill linear 0.3s 0.03s;
}

.sparks {
  fill: transparent;
  transition: fill ease-in 0.3s 0.3s;
}

.like-icon:hover .core {
  fill: var(--color-contour);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--color-accent);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: flick-sparks 0.3s 0.3s ease-in;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s 0.1s ease-in;
}
