/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  max-inline-size: 700px;
  background-color: gray; /* for test */
  color: var(--color-main);
}

.page * {
  background-color: var(--color-background);
}

.header {
  max-inline-size: var(--header-inline-size);
  min-block-size: var(--header-block-size);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  background-color: var(--color-background);
  margin: var(--header-top) auto var(--header-bottom);
  outline: 2px solid currentColor;
}

.logo-group {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
/*  font: 400 var(--font-size-logo) / 100% var(--font-title);*/
  font-family: var(--font-title);
  text-transform: uppercase;
}

.logo {
  font-size: var(--font-size-logo);
  line-height: 100%;
}

.sublogo {
  font-size: var(--font-size-sublogo);
  line-height: 100%;
}

.stages {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}
  
.article {
  display: flex;
  flex-direction: column;
  border: 2px solid currentColor;
}

.article-title {
  font: 715 18px / 22px var(--font-main); /* line-height: 100% in figma; */
  padding: 5px 10px 3px;
  border-block-end: 2px solid currentColor;
}

.illustration {
/*  height: 100vw;*/
  display: flex;
  position: relative;
}

.illustration img {
  inline-size: 100%;
  aspect-ratio: 1 / 1; /* 1:1 */
  object-fit: cover;
}

.label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font: 400 14px / 100% var(--font-title);
  background-color: transparent;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px #fff;

  text-shadow: -1px 0 var(--color-shadow), 0 1px var(--color-shadow), 1px 0 var(--color-shadow), 0 -1px var(--color-shadow);
}

@supports((text-stroke: 1px var(--color-shadow)) or (-webkit-text-stroke: 1px var(--color-shadow))) {
  .label {
    -webkit-text-stroke: 1px var(--color-shadow);
    text-stroke: 1px var(--color-shadow);
    text-shadow: none;
  }
} 

.article-content {
  display: flex;
  flex-direction: column;
  font: 410 18px / 21px var(--font-main);
  padding: var(--article-gap);
  gap: var(--article-gap);
  border-block-start: 2px solid currentColor;
}

.article-text {
/*  font: 410 18px / 21px var(--font-main);*/
}

.like {
  /* like=130x38 total=169x38 */
  align-self: flex-end;
  min-inline-size: 130px; /* ? */
  font: 400 14px / 2.286 'Press Start 2P'; /* line-height: 90% in figma; */
  border: 2px solid currentColor;
}

.like::before {

}

.footer {

}