/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --header-inline-size: clamp(
    19.75rem /**/,
    -0.25rem + 100vw,
    43.75rem
  ); /* 704, min=23.1875rem */
  --header-block-size: clamp(
    20.1875rem,
    16.9818rem + 13.6778vw,
    23rem
  ); /* 704 */

  --font-size-logo: clamp(
    2.875rem,
    1.9227rem + 4.8632vw,
    4.0625rem
  ); /* 704, min=3.0625rem*/
  --font-size-sublogo: clamp(
    0.875rem,
    0.2339rem + 2.7356vw,
    1.4375rem
  ); /* 704 */

  --header-top: clamp(6.25rem, 6.5175rem + -0.6079vw, 6.375rem); /* 704 */
  --header-bottom: clamp(6.125rem, 6.66rem + -1.2158vw, 6.375rem); /* 704 */

  --section-gap: 50px;

  --label-padding: 25px;
  --article-gap: 25px;

  --color-main: #000;
  --color-background: #fff;
  --color-shadow: #fff;
  --color-accent: #000;
  --background-main:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  --font-title: "Press Start 2P", monospace;
  --font-main: "Inter-Variable", "Inter", sans-serif;

  --footer-button-size: clamp(19.125rem, 17.0591rem + 8.8146vw, 20.9375rem);
  --disk-size: clamp(1.3125rem, 2.2487rem + -2.1277vw, 1.75rem);

  --dialog-size: clamp(20rem, 20.4576rem + 3.6474vw, 22.0625rem);
  --dialog-inline-padding: clamp(1.875rem, 3.2124rem + -3.0395vw, 2.5rem);

  /* SVG */
  --color-contour: #000;
  --animation-fill-color: #f00;
}
