/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --section-gap: 50px;
  --article-gap: 25px;

  --font-size-logo: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --font-size-sublogo: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --header-height: clamp(20.4375rem, 17.4808rem + 12.6154vw, 23rem);
  --header-bottom: clamp(6.25rem, 6.3942rem + -0.6154vw, 6.125rem);

  --color-main: #000;

  --font-title: 'Press Start 2P', monospace;
  --font-main: 'Inter-Variable', 'Inter', sans-serif;
}